@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

/**** CLASSES ET ÉLÉMENTS COMMUNS ****/
* {
  font-family: "Lato", sans-serif; }

.container {
  width: 85%;
  margin: 0 auto; }
  @media only screen and (max-width: 750px) {
    .container {
      width: 95%; } }

.cta-container {
  text-align: center; }

.cta {
  color: #84E296;
  padding: 2% 2%;
  border: 1px solid #84E296; }

.more-container {
  text-align: center; }

.more {
  text-transform: uppercase;
  color: #000;
  display: block;
  width: 30%;
  margin: 0 auto;
  -webkit-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-bottom: 2px solid #84E296; }
  @media only screen and (min-width: 750px) {
    .more:hover {
      border-bottom: 2px solid #000; } }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.hidden {
  display: none; }

.price {
  color: #67e253;
  font-size: 40px; }

header {
  position: relative; }
  header .logo {
    width: 80%; }
  header nav {
    width: 85%;
    margin: 30px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 80%; }
      @media only screen and (max-width: 750px) {
        header nav ul {
          display: none; } }
      header nav ul img {
        width: 15px;
        margin-right: 5px; }
  header a {
    font-family: "Antic", sans-serif;
    color: #000;
    text-transform: uppercase; }
  header .burger .cross {
    width: 7%;
    float: right; }
  @media only screen and (min-width: 750px) {
    header .burger {
      display: none; } }
  @media only screen and (max-width: 750px) {
    header .burger {
      position: absolute;
      top: 20%;
      right: 10%; } }
  header .burger-menu {
    position: absolute;
    z-index: 3;
    height: 30vh;
    border-bottom: 1px solid #000;
    top: 100%;
    background: #fff;
    width: 100%; }
    @media only screen and (min-width: 750px) {
      header .burger-menu {
        display: none; } }
    header .burger-menu li {
      margin-left: 60%;
      margin-top: 3%; }
    header .burger-menu img {
      margin-right: 9%; }

/***** PAGE D'ACCUEIL *****/
section.discover {
  position: relative; }
  @media only screen and (max-width: 450px) {
    section.discover {
      background: #84E296; } }
  @media only screen and (max-width: 450px) {
    section.discover div {
      display: block;
      text-align: center;
      padding: 10%; }
      section.discover div a {
        display: block;
        color: #fff;
        border: 1px solid #fff;
        padding: 3%; } }
  section.discover img {
    width: 100%; }
    @media only screen and (max-width: 450px) {
      section.discover img {
        display: none; } }
  section.discover h2 {
    position: absolute;
    color: #fff;
    left: 40%;
    bottom: 50%;
    z-index: 2; }
    @media only screen and (max-width: 450px) {
      section.discover h2 {
        display: none; } }

section.best-sales {
  margin: 4% auto; }

div.best-sales-head {
  border-bottom: 2px solid #000; }
  div.best-sales-head h3 {
    float: left; }
  div.best-sales-head img {
    float: right; }

div.best-sales-articles {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2%; }
  @media only screen and (max-width: 750px) {
    div.best-sales-articles {
      display: block; } }
  div.best-sales-articles .best-sales-first,
  div.best-sales-articles .best-sales-second,
  div.best-sales-articles .best-sales-third {
    padding: 1%;
    -webkit-box-shadow: 0px 0 1px 0 #000;
    -o-box-shadow: 0px 0 1px 0 #000;
    box-shadow: 0px 0 1px 0 #000;
    margin-right: 1%; }
    @media only screen and (max-width: 750px) {
      div.best-sales-articles .best-sales-first,
      div.best-sales-articles .best-sales-second,
      div.best-sales-articles .best-sales-third {
        width: 100%;
        float: left;
        margin-right: 2%;
        margin-top: 3%; } }
    div.best-sales-articles .best-sales-first h4,
    div.best-sales-articles .best-sales-second h4,
    div.best-sales-articles .best-sales-third h4 {
      text-align: center;
      margin-bottom: 2%;
      font-size: 24px; }
    div.best-sales-articles .best-sales-first img,
    div.best-sales-articles .best-sales-second img,
    div.best-sales-articles .best-sales-third img {
      width: 100%; }
    div.best-sales-articles .best-sales-first .sales-introduction,
    div.best-sales-articles .best-sales-second .sales-introduction,
    div.best-sales-articles .best-sales-third .sales-introduction {
      float: left;
      font-style: italic; }
    div.best-sales-articles .best-sales-first p:nth-child(2n),
    div.best-sales-articles .best-sales-second p:nth-child(2n),
    div.best-sales-articles .best-sales-third p:nth-child(2n) {
      float: right;
      color: #67e253;
      font-size: 28px; }
    div.best-sales-articles .best-sales-first .sales-description,
    div.best-sales-articles .best-sales-second .sales-description,
    div.best-sales-articles .best-sales-third .sales-description {
      clear: both;
      margin-top: 15%;
      text-align: justify; }
    div.best-sales-articles .best-sales-first .more-container,
    div.best-sales-articles .best-sales-second .more-container,
    div.best-sales-articles .best-sales-third .more-container {
      margin-top: 5%;
      -webkit-box-shadow: none;
      box-shadow: none; }

section.site-informations {
  background: #3B413C;
  clear: both;
  padding: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media only screen and (max-width: 750px) {
    section.site-informations {
      display: block; } }
  section.site-informations img {
    width: 80px; }
  section.site-informations h4 {
    color: #fff; }
  section.site-informations div {
    text-align: center;
    margin: 4% 0;
    width: 50%; }
    @media only screen and (max-width: 750px) {
      section.site-informations div {
        width: 50%;
        margin: 5% 0;
        float: left; } }
    section.site-informations div p {
      color: #fff; }
      @media only screen and (max-width: 450px) {
        section.site-informations div p {
          width: 80%;
          margin: 0 auto; } }

section.blog {
  margin-bottom: 3%; }

div.blog-head {
  border-bottom: 2px solid #000;
  margin-bottom: 2%; }
  div.blog-head h3 {
    float: left; }
  div.blog-head img {
    float: right;
    width: 15px; }

div.blog-articles {
  clear: both; }
  div.blog-articles div {
    width: 49%;
    float: left;
    margin-right: 1%; }
    @media only screen and (max-width: 750px) {
      div.blog-articles div {
        display: block;
        width: 100%;
        margin: 0 auto; } }
  div.blog-articles img {
    width: 100%; }
  div.blog-articles .more-container {
    width: 100%; }
  div.blog-articles .more {
    width: 10%;
    margin: 4% auto; }
  div.blog-articles .cta-container {
    margin: 15% 0; }

/************* FOOTER **************/
footer {
  background-color: #251605;
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  padding: 2% 3% 0.5% 3%;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px; }
  footer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background-image: url(../../img-layout/bonsai.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -ms-background-size: cover;
    background-size: contain; }
  footer div.col-footer {
    width: auto;
    z-index: 999; }
    @media screen and (max-width: 750px) {
      footer div.col-footer {
        width: 100%;
        display: block;
        margin: 30px 0;
        font-size: 20px; } }
    footer div.col-footer h2 {
      font-family: "Antic", sans-serif;
      font-weight: normal;
      font-size: 26px; }
      @media screen and (max-width: 750px) {
        footer div.col-footer h2 {
          font-size: 36px; } }
    footer div.col-footer h3 {
      font-size: 20px;
      display: inline-block;
      margin-bottom: 30px; }
      @media screen and (max-width: 750px) {
        footer div.col-footer h3 {
          margin-bottom: 15px;
          font-size: 26px; } }
    footer div.col-footer img.icon {
      display: inline;
      margin-right: 2px;
      color: #84E296;
      width: 25px;
      height: 25px; }
    footer div.col-footer a {
      color: #fff; }
      footer div.col-footer a:hover {
        text-decoration: underline; }
      @media screen and (max-width: 750px) {
        footer div.col-footer a {
          font-size: 26px; } }
    footer div.col-footer p, footer div.col-footer li {
      padding: 5px 0 0 20px; }
    footer div.col-footer.social li {
      display: inline-block;
      padding: 5px; }
      footer div.col-footer.social li img {
        width: 50px; }
  footer p.copyright {
    width: 100%;
    text-align: center;
    padding: 3% 0 0 0;
    font-size: 14px; }

/********* LISTE DES PRODUITS ************/
@media screen and (max-width: 750px) {
  section.filtres {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    background-color: #84E296; }
    section.filtres.hidden-filters {
      height: 35px; } }
section.filtres ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 750px) {
    section.filtres ul.hidden-filters {
      display: none; } }
  section.filtres ul li {
    width: 30%;
    text-align: center;
    border: 2px solid #84E296;
    padding: 10px;
    margin: 10px 10px 50px 10px; }
    @media screen and (max-width: 750px) {
      section.filtres ul li {
        width: 50%;
        border: 2px solid #fff;
        margin: 10px 10px 30px 10px;
        text-align: center; } }
    section.filtres ul li a {
      color: #84E296;
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media screen and (max-width: 750px) {
        section.filtres ul li a {
          color: #fff;
          font-size: 26px; } }
      section.filtres ul li a img {
        width: 15%; }
        @media screen and (max-width: 750px) {
          section.filtres ul li a img {
            width: 40%; } }
section.filtres div.mobile-more {
  display: none; }
  @media screen and (max-width: 750px) {
    section.filtres div.mobile-more {
      display: block;
      background-color: #84E296;
      border-radius: 100px;
      width: 70px;
      height: 70px;
      position: absolute;
      bottom: -40px;
      left: 50%;
      margin-left: -35px;
      right: 50%;
      cursor: pointer; }
      section.filtres div.mobile-more img {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 30px;
        left: 50%;
        margin-left: -15px; }
        section.filtres div.mobile-more img.hidden-filters {
          -webkit-transform: rotate(180deg);
          transform: rotate(180deg); } }

section.list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  section.list ul li {
    width: 32%;
    -webkit-box-shadow: 1px 1px 5px 1px #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (max-width: 750px) {
      section.list ul li {
        width: 100%; } }
    section.list ul li img {
      width: 100%;
      height: auto;
      display: block; }
    section.list ul li h2 {
      text-align: center;
      font-size: 26px;
      margin: 5px;
      width: 100%; }
    section.list ul li span.category {
      color: #3b413c;
      font-style: italic;
      font-size: 14px;
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center; }
    section.list ul li a.cta-more {
      text-transform: uppercase;
      color: #000;
      font-weight: bold;
      display: block;
      text-align: center;
      width: 30%;
      margin: 10px auto;
      padding-bottom: 5px;
      border-bottom: 2px solid #84E296; }
      section.list ul li a.cta-more:hover {
        border-bottom: 2px solid #000; }

div.pagination {
  border-top: 2px solid #000;
  margin: 10px auto; }
  div.pagination a {
    color: #84E296;
    font-size: 18px;
    border: 1px solid #84E296;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    float: right; }
    div.pagination a:hover {
      color: #fff;
      background-color: #84E296; }

/*@media screen and (min-width: 200px) and (max-width: 640px) {*/
.panier-infos-paiement {
  margin: 5% auto; }

.panier-infos-paiement-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #000; }
  .panier-infos-paiement-head img {
    margin-bottom: 1%; }
  .panier-infos-paiement-head h4  {
    font-size: 30px; }

.paiement-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 750px) {
    .paiement-choice {
      margin-top: 4%; } }
  .paiement-choice div {
    margin: 3% 1% 0;
    padding: 1%;
    width: 50%;
    border: 1px solid #84E296;
    text-align: center; }
    .paiement-choice div p {
      color: #84E296;
      margin-top: 2%; }

.paiement-card-choice {
  margin-top: 3%; }
  @media only screen and (max-width: 750px) {
    .paiement-card-choice {
      margin-top: 10%; } }
  .paiement-card-choice input {
    margin-right: 3%; }

.panier-paiement-input {
  margin-top: 3%; }
  @media only screen and (max-width: 750px) {
    .panier-paiement-input {
      margin-top: 10%; } }
  .panier-paiement-input label {
    display: block;
    margin-top: 2%; }
  .panier-paiement-input input {
    margin-top: 1%;
    border-radius: 5px 5px;
    height: 20px;
    border: 1px solid #000; }
  .panier-paiement-input input#numero {
    width: 40%; }
    @media only screen and (max-width: 750px) {
      .panier-paiement-input input#numero {
        width: 70%; } }
  .panier-paiement-input input#name {
    width: 25%; }
    @media only screen and (max-width: 750px) {
      .panier-paiement-input input#name {
        width: 60%; } }

.panier-recap-head,
.panier-livraison-head,
.panier-pay-head {
  border-bottom: 2px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 2px solid #000; }
  .panier-recap-head h4 ,
  .panier-livraison-head h4 ,
  .panier-pay-head h4  {
    font-size: 24px; }
  .panier-recap-head img,
  .panier-livraison-head img,
  .panier-pay-head img {
    margin-bottom: 1%; }

section.panier-recap {
  margin: 5% auto; }
  @media only screen and (max-width: 450px) {
    section.panier-recap {
      margin-bottom: 10%; } }

.panier-recap-content {
  margin: 4% 0; }
  .panier-recap-content img {
    width: 25%;
    float: left; }
    @media only screen and (max-width: 450px) {
      .panier-recap-content img {
        width: 50%; } }
  .panier-recap-content div {
    -webkit-box-shadow: 0px 0 1px 0 #000;
    -o-box-shadow: 0px 0 1px 0 #000;
    box-shadow: 0px 0 1px 0 #000;
    padding: 2%; }
    .panier-recap-content div h4 {
      text-align: center;
      font-size: 24px;
      margin-top: 3%; }
    .panier-recap-content div p {
      text-align: center;
      font-size: 36px;
      color: #84E296;
      margin-top: 3%; }
      @media only screen and (max-width: 450px) {
        .panier-recap-content div p {
          font-size: 26px;
          margin-top: 4%; } }
  .panier-recap-content .product-two {
    clear: both;
    margin-top: 5%; }

.product-recap-infos span {
  float: right; }

.panier-recap {
  clear: both; }
  .panier-recap .cta-container {
    margin-top: 5%; }
    @media only screen and (max-width: 450px) {
      .panier-recap .cta-container {
        margin-top: 10%; } }
  .panier-recap .cta {
    padding: 1% 5%; }

section.panier-recap-livraison {
  margin-bottom: 5%; }
  @media only screen and (max-width: 450px) {
    section.panier-recap-livraison {
      margin-bottom: 10%; } }
  section.panier-recap-livraison .cta-container {
    margin-top: 5%; }
    @media only screen and (max-width: 450px) {
      section.panier-recap-livraison .cta-container {
        margin-top: 10%; } }
  section.panier-recap-livraison .cta {
    padding: 1% 5%; }

.recap-adress {
  -webkit-box-shadow: 0px 0 1px 0 #000;
  -o-box-shadow: 0px 0 1px 0 #000;
  box-shadow: 0px 0 1px 0 #000;
  padding: 2%;
  margin: 1% 0;
  text-align: center; }
  .recap-adress p:first-child {
    color: #84E296;
    font-size: 18px; }

@media only screen and (max-width: 450px) {
  section.panier-recap-pay {
    margin-bottom: 10%; } }
section.panier-recap-pay span {
  padding: 2%;
  margin-top: 2%;
  display: block;
  text-align: center;
  width: 100%;
  -webkit-box-shadow: 0px 0 1px 0 #000;
  -o-box-shadow: 0px 0 1px 0 #000;
  box-shadow: 0px 0 1px 0 #000; }
section.panier-recap-pay .cta-container {
  margin: 5% 0; }
  @media only screen and (max-width: 450px) {
    section.panier-recap-pay .cta-container {
      margin: 10% 0; } }
section.panier-recap-pay .cta {
  padding: 1% 5%; }

/************* PANIER ***************/
nav.panier-steps {
  border-top: 2px solid #251605; }
  nav.panier-steps a {
    color: #000; }
  nav.panier-steps ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px; }
    nav.panier-steps ul li {
      padding-top: 10px; }
    nav.panier-steps ul li:first-child {
      border-top: 2px solid #84E296; }
    nav.panier-steps ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
      font-size: 16px; }
      @media screen and (max-width: 750px) {
        nav.panier-steps ul li {
          font-size: 10px; } }
      nav.panier-steps ul li span.number {
        font-size: 20px; }
        @media screen and (max-width: 750px) {
          nav.panier-steps ul li span.number {
            font-size: 16px; } }
      nav.panier-steps ul li span.active {
        color: #84E296;
        font-style: italic; }

/*** STEP 1 ***/
section.panier-produits {
  margin-bottom: 30px; }
  section.panier-produits ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    section.panier-produits ul li {
      margin: 10px 0;
      -webkit-box-shadow: 1px 1px 5px 1px #ccc;
      box-shadow: 1px 1px 5px 1px #ccc;
      padding: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      section.panier-produits ul li a:first-child {
        width: 15%; }
        @media screen and (max-width: 750px) {
          section.panier-produits ul li a:first-child {
            width: 100%; } }
      section.panier-produits ul li img {
        width: 100%;
        height: auto; }
        section.panier-produits ul li img.delete {
          width: 20px;
          cursor: pointer;
          margin: 10px auto; }
      @media screen and (max-width: 750px) {
        section.panier-produits ul li h3 {
          text-align: center;
          margin: auto; } }
      section.panier-produits ul li h3 a {
        font-size: 26px;
        color: #000; }
      @media screen and (max-width: 750px) {
        section.panier-produits ul li span.price {
          margin: auto; } }
      section.panier-produits ul li select {
        width: 50px; }
        @media screen and (max-width: 750px) {
          section.panier-produits ul li select {
            width: 25%;
            margin: auto; } }
  section.panier-produits div.total {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end; }

/*# sourceMappingURL=screen.css.map */
