* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

* {
  font-family: "Lato", sans-serif; }

.container {
  width: 85%;
  margin: 0 auto; }

.cta-container {
  text-align: center; }

.cta {
  color: #84E296;
  padding: 1% 1%;
  border: 1px solid #84E296; }

ul li {
  list-style-type: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.more-container {
  text-align: center; }

.more {
  text-transform: uppercase;
  color: #000;
  font-size: 20px;
  border-bottom: 1px solid #84E296; }

header {
  width: 85%;
  margin: 30px auto; }
  header .logo {
    width: 80%; }
  header ul {
    display: flex;
    justify-content: space-between; }
    header ul img {
      width: 15px;
      margin-right: 5px; }
  header a {
    font-family: "Antic", sans-serif;
    color: #000;
    text-transform: uppercase; }

section.discover {
  position: relative; }
  section.discover img {
    width: 100%; }
  section.discover h2 {
    position: absolute;
    color: #fff;
    left: 40%;
    bottom: 50%;
    z-index: 2; }

section.best-sales {
  margin: 4% auto; }

div.best-sales-head {
  border-bottom: 2px solid #000; }
  div.best-sales-head h3 {
    float: left; }
  div.best-sales-head img {
    float: right; }

div.best-sales-articles {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2%; }
  div.best-sales-articles div {
    padding: 1%;
    -webkit-box-shadow: 0px 0 1px 0 #000;
    -o-box-shadow: 0px 0 1px 0 #000;
    box-shadow: 0px 0 1px 0 #000;
    margin-right: 1%; }
    div.best-sales-articles div:last-child {
      margin: 0; }
    div.best-sales-articles div h4 {
      text-align: center;
      margin-bottom: 2%;
      font-size: 24px; }
    div.best-sales-articles div img {
      width: 100%; }
    div.best-sales-articles div .sales-introduction {
      float: left;
      font-style: italic; }
    div.best-sales-articles div p:nth-child(2n) {
      float: right;
      color: #67e253;
      font-size: 28px; }
    div.best-sales-articles div .sales-description {
      clear: both;
      margin-top: 15%;
      text-align: justify; }
    div.best-sales-articles div .more-container {
      margin-top: 5%;
      -webkit-box-shadow: none;
      box-shadow: none; }

section.site-informations {
  background: #3B413C;
  clear: both;
  padding: 5%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  section.site-informations img {
    width: 80px; }
  section.site-informations h4 {
    color: #fff; }
  section.site-informations div {
    text-align: center;
    margin-right: 4%;
    width: 50%; }
    section.site-informations div p {
      color: #fff; }

div.blog-head {
  border-bottom: 2px solid #000;
  margin-bottom: 2%; }
  div.blog-head h3 {
    float: left; }
  div.blog-head img {
    float: right;
    width: 1.5%; }

div.blog-articles {
  clear: both; }
  div.blog-articles div {
    width: 49%;
    float: left;
    margin-right: 1%; }
  div.blog-articles img {
    width: 100%; }
  div.blog-articles .more-container {
    width: 100%;
    margin-bottom: 3%; }

/************* FOOTER **************/
footer {
  background-color: #251605;
  background-repeat: no-repeat;
  background-position: right top;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff;
  padding: 2% 3% 0.5% 3%;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 18px; }
  footer:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background-image: url(../../img-layout/bonsai.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -ms-background-size: cover;
    background-size: contain; }
  footer div.col-footer {
    width: auto;
    z-index: 999; }
    footer div.col-footer h2 {
      font-family: "Antic", sans-serif;
      font-weight: normal;
      font-size: 26px; }
    footer div.col-footer h3 {
      font-size: 20px;
      display: inline-block;
      margin-bottom: 30px; }
    footer div.col-footer img.icon {
      display: inline;
      margin-right: 2px;
      color: #84E296;
      width: 25px;
      height: 25px; }
    footer div.col-footer a {
      color: #fff; }
      footer div.col-footer a:hover {
        text-decoration: underline; }
    footer div.col-footer p, footer div.col-footer li {
      padding: 5px 0 0 20px; }
    footer div.col-footer.social li {
      display: inline-block;
      padding: 5px; }
      footer div.col-footer.social li img {
        width: 50px; }
  footer p.copyright {
    width: 100%;
    text-align: center;
    padding: 3% 0 0 0;
    font-size: 14px; }

/********* LISTE DES PRODUITS ************/
section.filtres ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  wrap: no-wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around; }
  section.filtres ul li {
    width: 35%;
    text-align: center;
    border: 2px solid #84E296;
    padding: 10px;
    margin: 10px 0 50px 0; }
    section.filtres ul li a {
      color: #84E296;
      font-size: 18px; }
    section.filtres ul li img {
      width: 15%; }

section.list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  section.list ul li {
    width: 32%;
    -webkit-box-shadow: 1px 1px 5px 1px #ccc;
    box-shadow: 1px 1px 5px 1px #ccc;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px; }
    section.list ul li h2 {
      text-align: center;
      font-size: 26px;
      margin: 5px; }
    section.list ul li span.category {
      color: #3b413c;
      font-style: italic;
      font-size: 14px; }
    section.list ul li span.price {
      color: #67e253;
      font-size: 40px; }
    section.list ul li a.cta-more {
      text-transform: uppercase;
      color: #000;
      font-weight: bold;
      display: block;
      text-align: center;
      width: 30%;
      margin: 10px auto;
      padding-bottom: 5px;
      border-bottom: 2px solid #84E296; }
      section.list ul li a.cta-more:hover {
        border-bottom: 2px solid #000; }

div.pagination {
  border-top: 2px solid #000;
  margin: 10px auto; }
  div.pagination a {
    color: #84E296;
    font-size: 18px;
    border: 1px solid #84E296;
    padding: 10px 15px;
    display: inline-block;
    margin-top: 10px;
    float: right; }
    div.pagination a:hover {
      color: #fff;
      background-color: #84E296; }

/*# sourceMappingURL=screen.css.map */
