/***** PAGE D'ACCUEIL *****/

section.discover {
    position: relative;
    @media only screen and (max-width: $max-mob) {
        background: $green;
    }
    div {
        @media only screen and (max-width: $max-mob) {
            display: block;
            text-align: center;
            padding: 10%;
            a {
                display: block;
                color: #fff;
                border: 1px solid #fff;
                padding: 3%;
            }
        }
    }
    img {
        width: 100%;
        @media only screen and (max-width: $max-mob) {
            display: none;
        }
    }
    h2 {
        position: absolute;
        color: #fff;
        left: 40%;
        bottom: 50%;
        z-index: 2;
        @media only screen and (max-width: $max-mob) {
            display: none;
        }
    }
}

section.best-sales {
    margin: 4% auto;
}

div.best-sales-head {
    border-bottom: 2px solid #000;
    h3 {
        float: left;
    }
    img {
        float: right;
    }
}

div.best-sales-articles {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2%;
    @media only screen and (max-width: $max-tab) {
        display: block;
    }
    .best-sales-first,
    .best-sales-second,
    .best-sales-third {
        padding: 1%;
        -webkit-box-shadow: 1px 1px 5px 1px #ccc;
        box-shadow: 1px 1px 5px 1px #ccc;
        margin-right: 1%;
        @media only screen and (max-width: $max-tab) {
            width: 100%;
            float: left;
            margin-right: 2%;
            margin-top: 3%;
        }
        h4 {
            text-align: center;
            margin-bottom: 2%;
            font-size: 24px;
        }
        img {
            width: 100%;
        }
        .sales-introduction {
            float: left;
            font-style: italic;
        }
        p:nth-child(2n) {
            float: right;
            color: $cta;
            font-size: 28px;
        }
        .sales-description {
            clear: both;
            margin-top: 15%;
            text-align: justify;
        }
        .more-container {
            margin-top: 5%;
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

section.site-informations {
    background: $section-bg;
    clear: both;
    padding: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    @media only screen and (max-width: $max-tab) {
        display: block;
    }
    img {
        width: 80px;
    }
    h4 {
        color: #fff;
    }
    div {
        text-align: center;
        margin: 4% 0;
        width: 50%;
        @media only screen and (max-width: $max-tab) {
            width: 50%;
            margin: 5% 0;
            float: left;
        }
        p {
            color: #fff;
            @media only screen and (max-width: $max-mob) {
                width: 80%;
                margin: 0 auto;
            }
        }
    }
}

section.blog {
    margin-bottom: 3%;
}

div.blog-head {
    border-bottom: 2px solid #000;
    margin-bottom: 2%;
    h3 {
        float: left;
    }
    img {
        float: right;
        width: 15px;
    }
}

div.blog-articles {
    clear: both;
    div {
        width: 49%;
        float: left;
        margin-right: 1%;
        @media only screen and (max-width: $max-tab) {
            display: block;
            width: 100%;
            margin: 0 auto;
        }
    }
    img {
        width: 100%;
    }
    .more-container {
        width: 100%;
    }
    .more {
        width: 10%;
        margin: 4% auto;
    }
    .cta-container {
        margin: 15% 0;
    }
}