* {
	font-family:$font-text;	
}

.inner {
	.container {
		width:85%;
		margin:0 auto;
	}
	.cta-container {
		text-align:center;
	}
	.cta {
		color:$green;
		padding:1% 1%;
		border:1px solid $green;
	}
}

ul li {
	list-style-type:none;
}

a {
	text-decoration:none;
}

img {
	max-width:100%;
}

.more-container {
	text-align:center;
}

.more {
	text-transform:uppercase;
	color:#000;
	font-size:20px;
	border-bottom:1px solid $green;
}

