footer {
	background-color: $footer-bg;
	background-repeat: no-repeat;
	background-position:right top;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	color: #fff;
	padding: 2% 3% 0.5% 3%;
	position: relative;
	font-family: $font-text;
	font-size: 18px;

	&:before {
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.4;
    background-image: url(../../img-layout/bonsai.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    -ms-background-size: cover;
    background-size: contain;
	}

	div.col-footer {
		width: auto;
		z-index: 999;

		h2 {
			font-family: $font-title;
			font-weight: normal;
			font-size: 26px;
		}

		h3 {
			font-size: 20px;
			display: inline-block;
			margin-bottom: 30px;
		}

		img.icon {
			display: inline;
			margin-right: 2px;
			color: $green;
			width: 25px;
			height: 25px;
		}

		a {
			color: #fff;

			&:hover {
				text-decoration: underline;
			}
		}

		p, li {
			padding: 5px 0 0 20px;
		}

		&.social {

			li {
				display: inline-block;
				padding: 5px;

				img {
					width: 50px;
				}
			}

		}
	}

	p.copyright {
		width: 100%;
		text-align: center;
		padding: 3% 0 0 0;
		font-size: 14px;
	}
}