/********* LISTE DES PRODUITS ************/

section.filtres {

	@media screen and (max-width: 750px) {
			width: 100%;
			margin-bottom: 50px;
			position: relative;
			background-color: $green;


		&.hidden-filters {
			height: 35px;
		}
	}

	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: no-wrap;
		flex-wrap: no-wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;

		@media screen and (max-width: 750px) {
			&.hidden-filters {
				display: none;
			}
		}

		li {

			width: 30%;
			text-align: center;
			border: 2px solid $green;
			padding: 10px;
			margin: 10px 10px 50px 10px;

			@media screen and (max-width: 750px) {
				width: 50%;
				border: 2px solid #fff;
				margin: 10px 10px 30px 10px;
				text-align: center;
			}

			a {
				color: $green;
				font-size: 18px;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
				-ms-flex-pack: distribute;
				justify-content: space-around;
				-webkit-box-align: center;
				-ms-flex-align: center;
				align-items: center;

				@media screen and (max-width: 750px) {
					color: #fff;
					font-size: 26px;
				}

				img {
					width: 15%;

					@media screen and (max-width: 750px) {
						width: 40%;
					}
				}
			}
		}
	}

	div.mobile-more {
		display: none;

		@media screen and (max-width: 750px) {
			display: block;
			background-color: $green;
			border-radius: 100px;
			width: 70px;
			height: 70px;
			position: absolute;
			bottom: -40px;
			left: 50%;
			margin-left: -35px;
			right: 50%;
			cursor: pointer;

			img {
				position: absolute;
				width: 30px;
				height: 30px;
				top: 30px;
				left: 50%;
				margin-left: -15px;

				&.hidden-filters {
					-webkit-transform: rotate(180deg);
					transform: rotate(180deg);
				}
			}
		}
	}
}

section.list {
	ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;

		li {
			width: 32%;
			-webkit-box-shadow: 1px 1px 5px 1px #ccc;
			box-shadow: 1px 1px 5px 1px #ccc;
			margin-bottom: 15px;
			padding: 10px;
			font-size: 16px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-wrap: wrap;
			flex-wrap: wrap;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			-webkit-box-align: start;
			-ms-flex-align: start;
			align-items: flex-start;

				@media screen and (max-width: 750px) {
					width: 100%;
				}

			img {
				width: 100%;
				height: auto;
				display: block;
			}

			h2 {
				text-align: center;
				font-size: 26px;
				margin: 5px;
				width: 100%;
			}

			span.category {
				color: $grey;
				font-style: italic;
				font-size: 14px;
				-ms-flex-item-align: center;
				-ms-grid-row-align: center;
				align-self: center;
			}

			a.cta-more {
				text-transform: uppercase;
				color: #000;
				font-weight: bold;
				display: block;
				text-align: center;
				width: 30%;
				margin: 10px auto;
				padding-bottom: 5px;
				border-bottom: 2px solid $green;

				&:hover {
					border-bottom: 2px solid #000;
				}
			}
		}	
	}
}

div.pagination {
	border-top: 2px solid #000;
	margin: 10px auto;

	a {
		color: $green;
		font-size: 18px;
		border: 1px solid $green;
		padding: 10px 15px;
		display: inline-block;
		margin-top: 10px;
		float: right;

		&:hover {
			color: #fff;
			background-color: $green;
		}
	}
}


/*@media screen and (min-width: 200px) and (max-width: 640px) {*/