$font-title:'Antic', sans-serif;
$font-text:'Lato', sans-serif;

$green:#84E296;
$grey: #3b413c;
$brown: #251605;
$cta:#67e253;
$section-bg:#3B413C;
$footer-bg:#251605;

$max-mob:450px;
$max-tab:750px;


@import 'partials/reset.scss';
@import 'partials/clearfix.scss';
@import 'partials/common.scss';
@import 'partials/header.scss';
@import 'partials/accueil.scss';
@import 'partials/footer.scss';
@import 'partials/products.scss';
@import 'partials/panier.scss';



